@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

:root {
  --crimson: "Crimson Text", serif;
}

button,
input {
  font-family: var(--crimson);
}

.App {
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(10, 10, 10, 0.9);
  min-height: 100vh;
  width: 100%;
  color: white;
  font-family: var(--crimson);
}

.simple-header {
  display: flex;
  max-width: 100vw;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2rem 5rem;
}
.title-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: auto 0 0;
}
.title {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1.66rem;
  margin-left: 1rem;
}
.title-wrapper > h1 {
  margin-bottom: 0;
}
.subtitle {
  margin: auto auto 0.66rem 3rem;
  font-style: italic;
  font-size: 1rem;
}
.nav-links {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 3rem;
}
.nav-links > a {
  text-decoration: none;
  color: white;
  padding: 0.66rem;
  font-style: italic;
  font-weight: bold;
  transition: all 0.5s;
}
.quill-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-0.6);
  color: rgba(0, 121, 145, 0.9);
  margin-top: auto;
}
/* .quill-right {
}
.quill {
  color: white;
  margin: 0 0.33rem;
} */
.nav-links > a:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.nav-links > a:hover::before,
.nav-links > a:focus::before {
  content: "";
  position: absolute;
  margin-top: 1.33rem;
  height: 2px;
  background-color: rgba(0, 121, 145, 0.9);
  border: none;
  width: 0;
  animation: underline 0.5s ease-out forwards;
}
.horizontal-rule {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 66%;
}
.icon {
  margin: 0 1rem;
  color: rgba(0, 121, 145, 0.9);
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.left-rule,
.right-rule {
  width: 66%;
  height: 3px;
  background-color: silver;
  border: none;
  opacity: 0.5;
  border-radius: 90%;
}
.form-frame {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.content-layout {
  margin: 1.5rem auto;
  min-height: 60vh;
  max-width: 66%;
}
.form-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem;
  color: white;
}
form > input {
  padding: 0.5rem;
  margin: 0rem auto 2rem;
}
.details-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.username {
  color: rgba(0, 121, 145, 0.9);
  margin-left: 3rem;
}
@keyframes underline {
  0% {
    width: 0;
  }

  100% {
    width: 2.33rem;
  }
}

@media screen and (max-width: 769px) {
  .nav-links {
    flex-flow: column nowrap;
  }
}
@media screen and (max-width: 600px) {
  .title {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .simple-header {
    padding: 2rem;
  }
}
